.sidebar{
    width:280px;
    background:#0A397A;
    color:white;
    padding:20px;
    height: fit-content;
}

.logo{
    font-size:28px;
    font-weight:bold;
    margin-bottom:30px;
}

.menu-item{
    padding:12px;
    background:rgba(255,255,255,.08);
    border-radius:8px;
    margin-bottom:10px;
    cursor:pointer;
}

.menu-item:hover{
    background:rgba(255,255,255,.18);
}

body.dark-mode .menu-item{

    color:#cbd5e1;

}

body.dark-mode .menu-item:hover{

    background:#243244;

    color:#ffffff;

}

.painel-detalhes{

    width:320px;

    background:white;

    border-left:1px solid #ddd;

    padding:20px;

    overflow:auto;
    top:10px;

    height:calc(100vh - 20px);
}


.evento-sidebar-item{

    display:flex;

    align-items:center;

    gap:6px;

    padding:4px 0;

    font-size:12px;

    border-bottom:1px solid #eef2f7;
}

body.dark-mode .evento-sidebar-item{

    color:#e5e7eb;

}

.painel-detalhes-inner{

    position:sticky;

    top:10px;
}

.evento-texto{

    font-size:12px;

    color:#142033;

    white-space:nowrap;

    overflow:hidden;

    text-overflow:ellipsis;
}

.eventos-card{

    background:white;

    padding:12px;

    margin-top:16px;

    border-radius:12px;

    box-shadow:0 2px 8px rgba(0,0,0,.08);

    max-height:450px;

    overflow-y:auto;
}

.btn-monitorar{

    width:100%;

    margin-top:20px;

    background:#0A397A;

    color:white;

    border:none;

    padding:12px;

    border-radius:8px;

    font-weight:700;

    cursor:pointer;

    transition:.2s;
}

.btn-monitorar:hover{

    background:#124e9f;
}